* {
    box-sizing: border-box;
}
.body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;

}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
            45deg,
            rgb(14, 53, 172),
            rgb(160, 136, 21),
            rgba(43, 4, 20, 0.5));
    background-size: cover;
}

.calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    background-color: #000;
    width: 300px;
    height: auto;
    border-radius: 15px 15px 30px 30px;
    box-shadow: 0px 7px  4px 5px #353434;
}

.output{
    width: 100%;
}

.operation{
    width: 300px;
    height: 70px;
    color: #eae5e5;
    font-size: 2.2em;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
.operation .value{
    position: absolute;
    bottom: 5px;
    right : 10px;
    white-space: nowrap;
    overflow: hidden;
}

.result{
    width: 300px;
    height: 140px;
    color: #FFF;
    font-size: 2.7em;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}

.result .value{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right : 10px;
    white-space: nowrap;
    overflow: hidden;
}


.input{
    background-color: #FFF;
    border-radius: 0 0 25px 25px;
    border: 1px solid #1d1d1d;
    height: 340px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row button{
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    margin : 8px;
    cursor: pointer;
}

.row button:hover{
    font-weight: bold;
}

.row #calculate{
    color: #FFF;
    background-color: #46e0bc;
    width : 121px;
    border-radius: 50px;
}
.row #delete{
    color: #FFF;
    background-color: #e05046;
}

#division, #multiplication, #subtraction, #addition {
    color: #0f7a62;
}